In [1]:
#Answer 1:
#(i)
name = "divyansh"
#(ii)
div = [1,2,3.4,'c',"graft"]
#(iii)
decimal = 4.5
#(iv)
tuple = (34,46,"cherry")

In [2]:
#Anser 2: (i)- string (ii)- string (iii)- list (iv)- integer

In [3]:
#Answer 3: (i)- the operator '/' is used perform arithmetical aperation of divison by completly dividing the numbers including decimal. EX- 21/4 = 5.25
#(ii)- the operator '%' is used to gain the remender of the two numbers. EX - 21%4 = 1
#(iii)- the operator '//' is used perform arithmetical aperation of divison by completly dividing the numbers without the use decimal. EX - 21/4 = 5
#(iv)- the operator '**' is used perform arithmetical aperation of multiplication by mul;tiplying the number by itself acording to the power given. 21**4 = 194481

In [2]:
#Answer 4:
my_list = [1, "hello", 3.14, True, [1, 2, 3], (4, 5, 6), {"key": "value"}, None, 5.5, 10]

for element in my_list:
    print(f'Element: {element}, Type: {type(element)}')

Element: 1, Type: <class 'int'>
Element: hello, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: [1, 2, 3], Type: <class 'list'>
Element: (4, 5, 6), Type: <class 'tuple'>
Element: {'key': 'value'}, Type: <class 'dict'>
Element: None, Type: <class 'NoneType'>
Element: 5.5, Type: <class 'float'>
Element: 10, Type: <class 'int'>

In [3]:
#Answer 5:
A = 64
B = 4
count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f'Number of times A is divisible by B: {count}')

Number of times A is divisible by B: 3

In [4]:
#Answer 6:
int_list = [i for i in range(25)]

for num in int_list:
    if num % 3 == 0:
        print(f'{num} is divisible by 3')
    else:
        print(f'{num} is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [6]:
#Answer 7:
#Mutable
my_list = [1, 2, 3]
my_list[0] = 4  # my_list is now [4, 2, 3]

In [7]:
#immutable:
my_string = "hello"
# my_string[0] = 'H'  # This would raise an error
new_string = 'H' + my_string[1:]  # Instead, create a new string